html, body, #root {
  height: 100%;
}

#root {
  display: flex;
}

.wrap {
  margin: 20% auto 0 auto;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {

}

.total {
  font-size: 17px;
  margin-top: 30px;
}

form {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.date-picker {
  width: 150px;
  padding: 5px 10px;
}

.radio-wrap {
  display: flex;
  align-items: center;
}

ul {
  margin-top: 10px;
}

li {
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 25px;
}
